<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy61fFJnSq8Dsac5QVse44UcZPBnQRXQE</string>
	<key>GCM_SENDER_ID</key>
	<string>688851287652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGenuiSdkFirebaseMcp</string>
	<key>PROJECT_ID</key>
	<string>template-trial-ecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>template-trial-ecommerce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688851287652:ios:38ca078d9889d15767e971</string>
</dict>
</plist>