<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAebJeGpsY0HvPHsj13HmIR1dsZhfqcpPw</string>
	<key>GCM_SENDER_ID</key>
	<string>170525274412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGenuiSdkFirebaseMcp</string>
	<key>PROJECT_ID</key>
	<string>flutter-genui-sdk-mcp-12345</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-genui-sdk-mcp-12345.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170525274412:ios:aed186cc9ce4c5532f3c89</string>
</dict>
</plist>